<head>
  <html lang="en-US">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>  
<style>
table, td {
    border: 1px solid black;
}
</style>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <table>
            <tr>
                <td>Index</td>
                <td>IP Addresses</td>
                <td>Bind</td>
                <td>Connect</td>
                <td>Select Data</td>
            </tr>
            <tr ng-repeat= "x in ip_list">
                <td>{[{$index}]}</td>
                <td>{[{x}]}</td>
                <td><button ng-click=bind($index)>Bind</button></td>
                <td><button ng-click=connect($index)>Connect</button></td>
                <td>Select Data:
                    <span ng-repeat="(i, v) in data_select">
                        {[{i}]} <input type="checkbox" ng-model="dist_style">
                    </span>
                </td>
            </tr>
        </table>
        <br>
        <button ng-click="sendIP()">Send IP to Server</button>
        <button ng-click="generateWeights()">Generate Weights</button>  

    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>